@model Assignment.Models.Employee

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

    <title>Register</title>
</head>
<body>
    @{ if (TempData["message"] != null)
        {
            <div class="alert alert-success alert-dismissible">
                <a href="/Auth/Register" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                @TempData["message"]
            </div>
        }
    }

    <div class="row justify-content-center mx-4 mt-4">
        <div class="col-12 col-sm-6 col-md-3">
            @using (Html.BeginForm("Register", "Auth", FormMethod.Post))
            {
                @Html.AntiForgeryToken()<!--This is used for website security-->
                <div>
                    <p><b>Registration</b></p>
                    <hr style="border:groove" />
                </div>

                <div class="form-group justify-center-content">
                    <!--Name input from User-->
                    @Html.LabelFor(m => m.Name,"Employee Name")
                    @Html.TextBoxFor(m => m.Name, "", new { @class = "form-control", @placeholder = "Name" })
                    @Html.ValidationMessageFor(m => m.Name, "", new { @class = "badge badge-danger" })
                </div>

                <div class="form-group justify-center-content">
                    <!--Email-id input from User-->
                    @Html.LabelFor(m => m.Email)
                    @Html.TextBoxFor(m => m.Email, "", new { @class = "form-control", @placeholder = "Email" })
                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "badge badge-danger" })
                </div>

                <div class="form-group">
                    <!--Password input from User-->
                    @Html.LabelFor(m => m.Password)
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Password" })
                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "badge badge-danger" })

                </div>

                <div class="form-group justify-center-content">
                    <!--Phone input from User-->
                    @Html.LabelFor(m => m.Phone)
                    @Html.TextBoxFor(m => m.Phone, "", new { @class = "form-control", @placeholder = "Phone" })
                    @Html.ValidationMessageFor(m => m.Phone, "", new { @class = "badge badge-danger" })
                </div>

                <div class="form-group justify-center-content">
                    <!--Employee Image input from User-->
                    @Html.LabelFor(m => m.ImagePath, "Image")
                    @Html.TextBoxFor(m => m.ImagePath, "", new { Type = "file", @placeholder = "Image" })
                    @Html.ValidationMessageFor(m => m.ImagePath, "", new { @class = "badge badge-danger" })
                </div>

                <div class="form-group justify-center-content">
                    <!--Age input from User-->
                    @Html.LabelFor(m => m.Age)
                    @Html.TextBoxFor(m => m.Age, "", new { @class = "form-control", @placeholder = "Age" })
                    @Html.ValidationMessageFor(m => m.Age, "", new { @class = "badge badge-danger" })
                </div>

                <div class="form-group justify-center-content">
                    <!--Experience input from User-->
                    @Html.LabelFor(m => m.Experience)
                    @Html.TextBoxFor(m => m.Experience, "", new { @class = "form-control", @placeholder = "Experience" })
                    @Html.ValidationMessageFor(m => m.Experience, "", new { @class = "badge badge-danger" })
                </div>

                <!--Login button-->
                <button type="submit" class="btn btn-primary btn-block">Register</button>
            }
        </div>
    </div>



</body>
</html>
